.calculator-main{
    padding-top: 18px;
    overflow: hidden;
    padding-bottom: 113px;
}

.back-home{
    gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.icon-arrow-let{
    content: url("../img/arrow-left.svg");
}

.calculator-boxes{
    max-width: 740px;
    width: 100%;
    border-radius: 22px;
    padding: 32px;
    margin: 10px auto 0;
    position: relative;
    background-image: url("../img/base-calc.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.calculator-boxes:before{
    content: "";
    background-image: url("../img/calc-fon-left.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 554px;
    width: 100%;
    height: 419px;
    position: absolute;
    top: -58px;
    left: -98px;
    z-index: -1;
}

.calculator-boxes:after{
    content: "";
    background-image: url("../img/calc-fon-rigth.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 135px;
    width: 100%;
    height: 424px;
    position: absolute;
    bottom: 45px;
    right: -134px;
    z-index: -1;
}
.run-estimate{
    gap: 32px;
    margin-top: 24px;
}
.run-estimate-wid{
    max-width: 325px;
    width: 100%;
}
.calculator-boxes h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
}
.calculator-inp{
    width: 100%;
    margin-bottom: 22px;
}
.calculator-inp small, .scenario-select small{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    display: block;
    margin-bottom: 7px;
    opacity: 0.60;
}
.calculator-inp label{
    width: 100%;
    display: flex;
}
.calculator-inp input, .calculator-inp textarea{
    background: #101113;
    border: 1px solid rgba(213, 171, 255, 0.24);
    width: 100%;
    padding: 11px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
    border-radius: 4px;
    transition: 0.3s;
}
.calculator-inp input:focus{
    border: 1px solid rgba(213, 171, 255, 0.64);
}
.calculator-inp input:hover{
    border: 1px solid rgba(213, 171, 255, 0.64);
}
.calculator-inp textarea:hover{
    border: 1px solid rgba(213, 171, 255, 0.64);
}
.calculator-inp input::placeholder{
    opacity: 0.40;
}
.calculator-inp textarea::placeholder{
    opacity: 0.40;
}

.calculator-inp textarea{
    height: 120px;
    resize: none;
    font-family: 'Inter';

}

.expected-uplift{
    margin-top: 24px;
}
.expected-uplift .calculator-inp {
    margin: 0;
    width: auto;
}
.expected-uplift .calculator-inp input{
    width: 136px;
}
.inp-select{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    margin-top: 12px;
}

.scenario-select{
    width: 136px;
    margin-left: 20px;
}
.scenario-select label{
    display: flex;
    width: 100%;
}

.jq-selectbox {
    border: 1px solid rgba(213, 171, 255, 0.72);
    background: #1A1B1E;
    width: 100%;
    border-radius: 4px;
    position: relative;
    transition: 0.3s;
}
.jq-selectbox:after {
    content: url("../img/arrow-doun.svg");
    position: absolute;
    top: 12px;
    right: 12px;
}
.jq-selectbox__select-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    padding: 13px 12px;
    color: #FFFFFF;
}
.monthly-players-box{
    background: #17191E;
    border: 1px solid #FFFFFF33;
    max-width: 319px;
    width: 100%;
    padding: 24px;
    border-radius: 8px;
}
.retentica-using{
    margin-bottom: 24px;
}
.retentica-using h4{
    margin-top: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
}
.icon-relit{
    content: url("../img/relit.svg");
}

.average-player{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    margin-top: 12px;
}
.average-player:last-child{
    border-bottom: unset;
    padding-bottom: 0;

}
.average-player span{
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.60;
}
.average-player strong{
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}



.jq-selectbox__dropdown {
    border-radius: 4px;
    font-family: 'Inter';
    border: 1px solid rgba(213, 171, 255, 0.24);
    background: #0D0F11;
}

.jq-selectbox li {
    padding: 8px 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FFFFFF;
}

.jq-selectbox li.selected {
    background-color: #50596f3d;

}
.calculator-boxes .btn{
    margin-top: 32px;
}


@media (max-width: 767px){
    .calculator-boxes h2 {
        font-size: 24px;
    }
    .calculator-boxes {
        max-width: 400px;
        padding: 23px;
        margin-top: 30px;
    }
    .expected-uplift {
        margin-bottom: 0;
    }
    .run-estimate {
        max-width: 100%;
        gap: 24px;
        flex-direction: column;
    }
    .run-estimate {
        max-width: 100%;
    }
    .monthly-players-box {
        padding: 20px;
        max-width: 100%;

    }
    .run-estimate-wid {
        max-width: 100%;
    }
}

@media (max-width: 570px){
    .calculator-boxes {
        padding: 23px 16px;
    }

   .expected-uplift .calculator-inp small, .expected-uplift  .scenario-select small {
        font-size: 12px;
    }
    .jq-selectbox__select-text {
        font-size: 13px;
        padding: 12px 10px;
    }
    .jq-selectbox:after {
        top: 10px;
        right: 10px;
        height: 18px;
        width: 18px;
    }
    .scenario-select {
        width: 124px;
        margin-left: 16px;
    }
    .inp-select {
        font-size: 13px;
        margin-left: 10px;
    }

    .calculator-boxes:before{
        background-image: url("../img/calc-fon-left-mob.png");
        max-width: 342px;
        top: -46px;
        left: -25px;
    }

    .calculator-boxes:after{
        background-image: url("../img/calc-fon-rigth-mob.png");
        max-width: 73px;
        bottom: 21px;
        right: -45px;
    }

    .calculator-boxes{
        background-image: url("../img/base-calc-mob.png");
        border-radius: 16px;
    }
}