header {
    position: absolute;
    z-index: 91;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-150px);
    transition: 0.7s;
    opacity: 0;
}
.header-anime{
    transform: translateY(0);
    transition: 0.9s;
    opacity: 1;
}


.header-main{
    width: 100%;
    padding: 12px 0;
}
.header-center{
    gap: 84px;
}
.logo-mob{
    display: none;
}
.nav-menu ul{
    gap: 29px;
    display: flex;
    align-items: center;
}
.nav-menu ul li{
    display: flex;
}
.nav-menu a{
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    vertical-align: middle;
    transition: 0.3s;
    position: relative;
}
.nav-menu a:after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    transition: 0.3s;
    background: #FFFFFF;
}
.nav-menu a:hover:after{
    width: 100%;
}

.btn-book{
    background-image: url("../img/grad-btn.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px;
    padding: 8px 20px;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.3s;
}
.btn-book:hover{
    opacity: 0.7;
}
.pricing-href-mob{
    display: none;
}
@media (max-width: 1020px){
    .header-center {
        gap: 32px;
    }
}
@media (max-width: 767px){
    .header-center {
        gap: 16px;
    }
    .nav-menu ul {
        gap: 14px;
    }
    header .btn-book{
        display: none;
    }
    .nav-menu{
        display: none;
    }
    .pricing-href-mob{
        display: flex;
    }
    .pricing-href-mob a{
        display: flex;
        font-weight: 600;
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 1);
    }
    .logo-desc{
        display: none;
    }
    .logo-mob{
        display: block;
    }
}
