header {
    position: absolute;
    z-index: 91;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateY(-150px);
    transition: 0.7s;
    opacity: 0;
}
.header-anime{
    transform: translateY(0);
    transition: 0.9s;
    opacity: 1;
}


.header-main{
    width: 100%;
    padding: 12px 0;
}
.header-center{
    gap: 84px;
}
.nav-menu ul{
    gap: 29px;
    display: flex;
    align-items: center;
}
.nav-menu ul li{
    display: flex;
}
.nav-menu a{
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    vertical-align: middle;
    transition: 0.3s;
}


.btn-book{
    border: 1px solid #5F29B7;
    border-radius: 50px;
    padding: 8px 20px;
    background: #0B0D1080;
    backdrop-filter: blur(4px);
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
    transition: 0.3s;
}